* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: plum;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2 {
  margin-bottom: 20px;
  color: #333;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: wheat;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: skyblue;
}
p{
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}
